  <section class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-20 font-medium text-gray-900">Welcome to Time Wages Calculator !</h1>
      <h1 class="mb-8 leading-relaxed"><%= link_to 'Time Wages Calculatorとは？', homes_introduction_path %></h1>
    </div>
  </div>
  <button class="flex mx-auto mt-10 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">ログイン</button>
  </div>
</section>